@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .body {
        @apply scroll-smooth hover:scroll-auto;
    }
}

@layer utilities {
    .fade-in {
        animation: fade-in 120ms linear 1 forwards;
    }
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes gradient {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0 50%;
        }
    }
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #b2b2b2;
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
    background: #919191;
    border-radius: 0.5rem;
}